<table *ngIf="(taskList | async)?.length ?? 0 > 0" class="task-table">
  <tr *ngFor="let task of taskList | async" class="task-row">
    <td colspan="1">
      <div class="task-info">
        <div>{{ task.status }}</div>
        <div>{{ task.name }}</div>
        <div>
          {{ task.deadline | date : "dd/MM/yyyy" }}
        </div>
      </div>
    </td>

    <td colspan="1">
      <div class="task-overview">
        <div>{{ task.priority }}</div>
        <div>{{ task.duration }}</div>
      </div>
    </td>
  </tr>
</table>
