@import "variables";
@import "colors";

.login-container {
  height: 100vh;
  background-image: linear-gradient(
    to right bottom,
    #e12a2a,
    #e15b3f,
    #e07d5a,
    #de9a7b,
    #d9b4a0
  );
}
.login-details {
  width: 380px;
  background-color: white;
  border-radius: 3px;
  padding: $space-xl;
}
.login-header {
  margin-bottom: $space-md;
}
.header-logo {
  margin: 0px;
}
.header-logo h2 {
  color: #252323;
  font-size: 18px;
}
.header-logo img {
  filter: brightness(0) saturate(100%) invert(30%) sepia(73%) saturate(3000%)
    hue-rotate(357deg) brightness(145%) contrast(80%);
  width: $space-xl;
  height: $space-xl;
}
.login-header h3 {
  color: #a79999;
  font-family: $font-sans;
  font-weight: 500;
  font-size: 13px;
}
.login-header h2 {
  color: #252323;
  font-family: $font-sans;
  font-weight: 300;
  font-size: 22px;
  margin: 0px;
  line-height: 2;
}
.login-auth {
  width: 100%;
}
.login-form {
  width: 100%;
}
.form-control {
  position: relative;
  margin-bottom: $space-lg;
  width: 100%;
}
.form-group {
  width: 100%;
}
.form-input {
  width: 100%;
  padding: $space-xs;
  margin-bottom: $space-xxs;
  border: none;
  border-bottom: 1px solid #b4b3b3;
  font-size: 16px;
  transition: all 0.3s ease-in-out;
  outline: none;
  background: transparent;
}
input.ng-touched.ng-invalid {
  color: red;
}
.form-label {
  position: absolute;
  left: 0px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 14px;
  color: #6d6565;
  transition: all 0.3s ease-in-out;
  pointer-events: none;
}
.form-input:focus ~ .form-label,
.form-input:not(:placeholder-shown) ~ .form-label {
  top: 0;
  left: 5px;
  font-size: 12px;
  color: #9b9797;
}
.footer-description {
  margin-top: $space-md;
  color: #a79999;
  font-size: 13px;
  font-family: $font-sans;
}
.btn-login {
  height: 40px;
  border: none;
  border-radius: 3px;
  background-color: $primary-red;
  color: white;
  font-size: 13px;
  width: 100%;
  cursor: pointer;

  &:disabled {
    background-color: $neutral-light;
    color: $gray-medium;
  }
}
.btn-register {
  height: 40px;
  border: 1px solid $black-light;
  border-radius: 3px;
  background-color: $neutral-light;
  color: black;
  font-size: 12px;
  cursor: pointer;
  width: 100%;
  font-weight: 500;
}
.login-btn {
  display: flex;
  width: 100%;
  margin-bottom: $space-xs;
}
.forgot-password {
  justify-content: flex-start;
  width: 100%;
  color: $bright-orange;
  font-size: 12px;
  display: flex;
  margin-bottom: $space-xl;
  font-weight: 600;
  cursor: pointer;
}
.form-control a {
  margin-top: $space-md;
}
.control-error {
  color: red;
}
.form-control app-error-message {
  position: absolute;
  bottom: -1.5em;
  left: 0;
  font-size: 0.75rem;
  color: red;
}
.login-error {
  color: #c62828;
  font-size: 16px;
  margin: $space-md;
  padding: $space-xs;
  background-color: #faebeb;
  border-radius: 5px;
}
.input-error {
  border-color: red;
}
