.add-task {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  width: 100%;
  background-color: white;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
  border-bottom: 1px solid #ededed;
  padding-left: 15px;
  padding-right: 15px;
}
.task-title {
  font-size: 14px;
  color: #5e5757;
}
