<div class="sidebar-container">
  <nav class="sidebar-nav">
    <ul class="sidebar-list">
      <li>
        <a class="sidebar-logo">
          <img src="assets/stopwatch-svgrepo-com.svg" alt="" />
        </a>
      </li>
      <li>
        <a routerLink="/app/task-manager" routerLinkActive="active">
          <img src="assets/new-task.svg" alt="Briefcase" />
          <div class="nav-text">Tasks</div>
        </a>
      </li>
      <li>
        <a routerLink="/app/session" routerLinkActive="active">
          <img src="assets/time-svgrepo-com.svg" alt="File" />
          <div class="nav-text">Session</div>
        </a>
      </li>
      <li>
        <a routerLink="/app/archive">
          <img src="assets/file-svgrepo-com.svg" alt="Address Card" />
          <div class="nav-text">Archive</div>
        </a>
      </li>
      <li>
        <a routerLink="/app/settings" routerLinkActive="active">
          <img src="assets/settings-svgrepo-com.svg" alt="Address Card" />
          <div class="nav-text">Settings</div>
        </a>
      </li>
    </ul>

    <ul class="logout">
      <li>
        <a routerLink="/login">
          <img src="assets/log-out-svgrepo-com.svg" alt="Address Card" />
          <div class="nav-text">Logout</div>
        </a>
      </li>
    </ul>
  </nav>
</div>
