<div class="time-mgmt-container">
  <header class="time-mgmt-header">
    <div class="header-logo">
      <img src="assets/stopwatch-svgrepo-com.svg" alt="" />
      <h2>Ness's Pomodoro</h2>
    </div>

    <h1 class="header-title">Pomodoro Time Management</h1>
    <h3 class="header-subtitle">
      Get a clear overview of your achievements in one place
    </h3>

    <div class="header-buttons">
      <button class="btn btn-login" (click)="loginPage()">LOG IN</button>
      <button class="btn btn-signup" (click)="registerPage()">SIGN UP</button>
    </div>
  </header>

  <main class="time-mgmt-info">
    <section class="time-mgmt-details how-it-works">
      <h2 class="time-mgm-title how-it-works-title">How it Works</h2>
      <p class="time-mgmt-description">
        The time management application streamlines your productivity with an
        intuitive interface. Quickly log in, create tasks, and track your
        progress through automated or manual sessions—all from a user-friendly
        control panel.
      </p>
    </section>
    <div class="time-mgmt-details how-it-works-img">
      <img src="assets/pomodoro.jpg" alt="" />
    </div>

    <div class="time-mgmt-details how-it-helps-img">
      <img src="assets/pomodoro2.webp" alt="" />
    </div>
    <section class="time-mgmt-details how-it-helps">
      <h2 class="time-mgm-title how-it-helps-title">How it Helps You</h2>
      <p class="time-mgmt-description">
        This application boosts your efficiency by making task creation and
        management effortless. It keeps you organized by automating progress
        tracking and allowing you to customize your workflow. When tasks are
        completed, you get a clear overview of your achievements in one place.
      </p>
    </section>
  </main>

  <footer class="time-mgmt-footer">
    <div class="footer-logo">
      <img src="assets/reshot-icon-timer-8VAPXJD2CB-52a21.svg" alt="" />
      <h3 class="footer-title">Ness's Pomodoro 2024</h3>
    </div>

    <div class="footer-description">
      A Ness Digital Engineering product. Part of 2024's Internship
    </div>
  </footer>
</div>
