@import "../../assets/styles/variables";

%flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.time-mgmt-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  min-width: 230px;
}
.time-mgmt-header {
  @extend %flex-center;
  flex-direction: column;
  padding: 0 15px;
  background-image: radial-gradient(
    101.96% 103.97% at 6.88% 21.2%,
    #ff5151 0%,
    #ff9666 100%
  );
  color: $primary-color;
  min-height: 400px;
}
.header-logo {
  @extend %flex-center;
  font-size: 18px;
  font-weight: 500;
  gap: 5px;
  padding-bottom: 20px;
}
.footer-logo {
  @extend %flex-center;
  font-size: 14px;
  gap: 5px;
}
.header-logo img {
  width: 35px;
  height: 35px;
  filter: brightness(0) invert(1);
}
.header-logo h2 {
  font-size: 19px;
  font-family: $font-sans;
  font-weight: 600;
  margin: 0px;
}
.header-title {
  font-size: 30px;
  line-height: normal;
  margin: 0px;
}
.header-subtitle {
  font-size: 14px;
  line-height: normal;
  padding-top: 10px;
  color: $primary-color;
  margin: 0px;
}
.header-buttons {
  @extend %flex-center;
  gap: 15px;
  margin-top: 40px;
}
.btn {
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  background-color: steelblue;
  color: $primary-color;
  cursor: pointer;
}
.btn-login {
  background-color: #ff3d00;
  font-size: 12px;
  width: 100px;
  border-radius: 3px;
}

.btn-signup {
  background-color: $primary-color;
  color: black;
  font-size: 12px;
  width: 100px;
  border-radius: 3px;
}
.time-mgmt-info {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 16px;
  padding: 32px 0;
}
.time-mgmt-details {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.section-title {
  font-family: $font-sans;
  font-weight: 400;
  font-size: 35px;
  color: #000000de;
  letter-spacing: 0.25px;
  margin: 0px 30px;
}
.section-description {
  display: flex;
  padding: 20px 32px 0;
  color: #00000099;
  font-size: 16px;
  font-weight: 400;
  font-family: $font-sans;
}
.how-it-works-description,
.how-it-works-title {
  direction: rtl;
}
.time-mgmt-details img {
  justify-items: center;
  align-items: end;
  width: 100%;
  object-fit: cover;
}
.footer-title {
  display: flex;
  line-height: normal;
  margin: 0px;
  color: rgba(0, 0, 0, 0.8705882353);
  font-family: $font-sans;
  font-weight: 500;
  font-size: 15px;
}
.how-it-helps-img {
  justify-items: center;
  align-items: end;
}
.footer-container {
  @extend %flex-center;
  justify-content: space-between;
  min-width: 200px;
  padding: 10px 32px;
  border-top: 1px solid #e9e5e5;
  font-family: $font-sans;
  background-color: white;
  color: #00000099;
}
.footer-logo {
  align-items: center;
}
.footer-logo img {
  filter: $img-filter;
}
.footer-description {
  font-size: 12px;
  line-height: normal;
  padding-top: 5px;
}

@media (max-width: 420px) {
  .header-buttons,
  .footer-container {
    flex-direction: column;
    align-items: center;
  }
}
@media (max-width: 768px) {
  .time-mgmt-info {
    grid-template-columns: 1fr;
  }
}
@media (max-width: 450px) {
  .header-title,
  .header-subtitle {
    display: inline-block;
    text-align: center;
  }
}
