.layout-container {
  display: grid;
  grid-template-columns: 120px auto;
  grid-template-rows: auto 1fr;
  height: 100vh;
  background-color: #ededed;
  padding: 15px;
}

.main-content {
  display: grid;
  grid-template-rows: auto 1fr;
  grid-column: 2;
  height: 100%;
}

.header {
  grid-row: 1;
  color: white;
  text-align: center;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.content {
  background-color: white;
  overflow: auto;
  height: 866px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}
