<div class="modal-content">
  <h2>10 Golden Rules</h2>
  <p>
    These are the 10 golden rules recommended for using the task manager
    application effectively:
  </p>
  <ol>
    <li>Don't postpone tasks that take.</li>
    <li>Create clear tasks in your agenda.</li>
    <li>Start with the hardest tasks(eat the frog).</li>
    <li>Set work sessions of 25 minutes.</li>
    <li>Take 5-minute breaks between sessions.</li>
    <li>After 4 sessions, take a longer break.</li>
    <li>Eliminate distractions.</li>
    <li>Track your progress.</li>
    <li>Be flexible and adjust as needed.</li>
    <li>Review and plan regularly.</li>
  </ol>
  <div class="btn-container">
    <button class="modal-btn" (click)="close()">I UNDERSTAND</button>
  </div>
</div>
